@media (max-width: 425px) {
  /* utility classes */
  h1 {
    font-size: 2.4rem !important;
  }

  p {
    font-size: 1.2rem !important;
  }

  h4 {
    font-size: 1.4rem !important;
  }

  h2 {
    font-size: 5rem !important;
  }

  sup,
  h2 span {
    font-size: 1.2rem !important;
  }

  .btn {
    height: 3.5rem;
    width: 13.25rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-radius: 0.9rem;
  }
  /* utility classes ends here */

  .wrapper {
    width: 100%;
    height: 40rem;
  }
  .nav,
  .nav_stick {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 3rem 0 0;
    transition: all 0.2s ease-in-out;
    background-color: var(--compliment_clr);
  }

  .nav_light,
  .nav_dark
 {
    color: var(--compliment_clr_dark);
  }

  .login_btn,
  .login_btn_dark {
    border: 1px solid var(--compliment_clr_dark);
  }

  .lang {
    display: none;
  }

  .menu_btn {
    display: block;
  }

  .menu_icon {
    font-size: 2.5rem;
    color: #2f1c6a;
  }

  .menu {
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
    flex-direction: column;
    position: absolute;
    left: -100%;
    background-color: var(--compliment_clr);
    height: 100vh;
    width: 100%;
    top: 7.9rem;
    z-index: 9999;
  }

  #click:checked ~ .menu {
    left: 0;
  }

  .menu li {
    font-size: 1.8rem;
  }

  .hero {
    /* padding-top: 1rem; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }
  .hero_left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero_right {
    width: 0;
    display: none;
  }

  .hero h1 {
    text-align: center;
  }

  .hero p {
    font-size: 1.4rem;
    text-align: center;
  }

  .info_text {
    font-size: 1.2rem !important;
    text-align: center;
  }

  .article_container {
    width: 90vw;
  }
  .sponsered {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .sponsered svg {
    width: 8rem;
  }
  .pricing_content,
  .hidden_info {
    display: flex !important;
    align-items: center;
    flex-direction: column !important;
    gap: 2rem;
  }

  .divider {
    width: 100%;
    height: 0.1rem;
  }

  .col {
    width: 100%;
    text-align: left;
    justify-content: start;
    align-items: start;
  }

  .second_sec h2 {
    font-size: 3rem !important;
  }

  .second_sec p {
    font-size: 1.2rem !important;
  }

  .select_btn {
    width: 10.25rem !important;
    height: 3.5rem !important;
    font-size: 1.2rem !important;
  }

  .services {
    flex-direction: column !important;
    gap: 2rem;
  }

  .services h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .card {
    flex-direction: column !important;
    gap: 2rem !important;
    width: 80vw !important;
  }

  .card:nth-child(2n) {
    flex-direction: column !important;
  }

  .left,
  .right {
    width: 100% !important;
  }

  .right video {
    width: 100%;
  }
  .domain_container {
    padding: 4rem 1rem;
  }

  .domain_container h1 {
    text-align: center;
  }
  .domain_container h4 {
    max-width: 85%;
  }

  .search {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }

  .search input[type="search"] {
    padding: 1.6rem;
    font-size: 1.4rem;
    border-radius: 1.2rem;
  }
  .search input[type="search"]::placeholder {
    font-size: 1.4rem;
    height: 4.5rem;
  }
  .search_btn {
    font-size: 1.3rem !important;
    width: 35% !important;
    height: 4.5rem !important;
    border-radius: 1.2rem !important;
  }
  .others_container {
    margin: 10rem auto;
    width: 80%;
    text-align: center;
  }

  .others_btn {
    width: 20rem !important;
  }

  .footer_content {
    width: 100%;
    flex-direction: column !important;
  }

  .left_footer,
  .right_footer {
    width: 100% !important;
  }

  .right_footer {
    flex-direction: column;
  }

  .copyright {
    width: 80%;
    margin: 0 auto;
  }

  .copyright_content {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  /* utility classes */
  h1 {
    font-size: 3.4rem !important;
  }

  p {
    font-size: 1.6rem !important;
  }

  h4 {
    font-size: 1.8rem !important;
  }

  h2 {
    font-size: 6rem !important;
  }

  sup,
  h2 span {
    font-size: 1.4rem !important;
  }

  .btn {
    height: 4.5rem;
    width: 15.25rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    border-radius: 0.9rem;
  }
  /* utility classes ends here */

  .wrapper {
    width: 100%;
    height: 40rem;
  }
  .nav,
  .nav_stick {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 3rem 0 0;
    transition: all 0.2s ease-in-out;
    background-color: var(--compliment_clr);
  }

  .nav_light,
  .nav_dark {
    color: var(--compliment_clr_dark);
  }

  .login_btn,
  .login_btn_dark {
    border: 1px solid var(--compliment_clr_dark);
  }

  .lang {
    display: none;
  }

  .menu_btn {
    display: block;
  }

  .menu_icon {
    font-size: 2.5rem;
    color: #2f1c6a;
  }

  .menu {
    justify-content: flex-start;
    gap: 7rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100%;
    background-color: var(--compliment_clr);
    height: 100vh;
    width: 100%;
    top: 7.9rem;
    z-index: 9999;
  }

  #click:checked ~ .menu {
    left: 0;
  }

  .menu li {
    font-size: 1.8rem;
  }

  .hero {
    /* padding-top: 1rem; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }
  .hero_left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero_right {
    width: 0;
    display: none;
  }

  .hero h1 {
    text-align: center;
  }

  .hero p {
    font-size: 1.4rem;
    text-align: center;
  }

  .info_text {
    font-size: 1.2rem !important;
    text-align: center;
  }

  .article_container {
    width: 90vw;
  }
  .sponsered {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .sponsered svg {
    width: 8rem;
  }
  .pricing_content,
  .hidden_info {
    display: flex !important;
    align-items: center;
    flex-direction: column !important;
    gap: 2rem;
  }

  .divider {
    width: 100%;
    height: 0.1rem;
  }

  .col {
    width: 100%;
    text-align: left;
    justify-content: start;
    align-items: start;
  }

  .second_sec h2 {
    font-size: 3rem !important;
  }

  .second_sec p {
    font-size: 1.2rem !important;
  }

  .select_btn {
    width: 10.25rem !important;
    height: 3.5rem !important;
    font-size: 1.2rem !important;
  }

  .services {
    flex-direction: column !important;
    gap: 2rem;
  }

  .services h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .card {
    flex-direction: column !important;
    gap: 2rem !important;
    width: 80vw !important;
  }

  .card:nth-child(2n) {
    flex-direction: column !important;
  }

  .left,
  .right {
    width: 100% !important;
  }

  .right video {
    width: 100%;
  }
  .domain_container {
    padding: 4rem 1rem;
  }

  .domain_container h1 {
    text-align: center;
  }
  .domain_container h4 {
    max-width: 85%;
  }

  .search {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }

  .search input[type="search"] {
    padding: 1.6rem;
    font-size: 1.4rem;
    border-radius: 1.2rem;
  }
  .search input[type="search"]::placeholder {
    font-size: 1.4rem;
    height: 4.5rem;
  }
  .search_btn {
    font-size: 1.3rem !important;
    width: 35% !important;
    height: 4.5rem !important;
    border-radius: 1.2rem !important;
  }
  .others_container {
    margin: 10rem auto;
    width: 80%;
    text-align: center;
  }

  .others_btn {
    width: 20rem !important;
  }

  .footer_content {
    width: 100%;
    flex-direction: column !important;
  }

  .left_footer,
  .right_footer {
    width: 100% !important;
  }

  .right_footer {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem 10rem;
    flex-wrap: wrap;
  }

  .copyright {
    width: 80%;
    margin: 0 auto;
  }

  .copyright_content {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1360px) {
  /* utility classes */
  h1 {
    font-size: 3.4rem !important;
  }

  p {
    font-size: 1.6rem !important;
  }

  h4 {
    font-size: 1.8rem !important;
  }

  h2 {
    font-size: 6rem !important;
  }

  sup,
  h2 span {
    font-size: 1.4rem !important;
  }

  .btn {
    height: 4.5rem;
    width: 15.25rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    border-radius: 0.9rem;
  }
  /* utility classes ends here */

  .wrapper {
    width: 100%;
  }

  .nav,
  .nav_stick {
    padding: 0 8rem;
  }

  .brand {
    gap: 2rem;
  }

  .lang {
    font-size: 1.4rem;
    width: 2.5rem;
    gap: 0.2rem;
  }

  .menu {
    font-size: 1.4rem;
    gap: 2rem;
  }

  .hero {
    width: 90%;
  }

  .hero_img {
    width: 45rem;
  }

  .img_bg {
    width: 35rem;
    height: 35rem;
  }

  .pricing_content,
  .hidden_info {
    gap: 2rem;
    justify-content: center;
  }

  .col {
    width: 25%;
  }

  .services {
    justify-content: center;
  }

  .card {
    gap: 2rem !important;
    width: 90% !important;
  }

  .footer_content {
    width: 100%;
    flex-direction: column !important;
  }

  .left_footer,
  .right_footer {
    width: 100% !important;
  }

  .right_footer {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .copyright {
    width: 90%;
    margin: 0 auto;
  }

  .copyright_content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
